.about__banner {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about__banner--text {
  display: flex;
  flex-flow: column nowrap;
  color: #202528;
  gap: 1rem;
}
.about__banner--img {
  width: 300px;
  fill: #202528;
}

.about__img {
  width: 200px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: var(--mb-2-5);
}

.about__info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about__info--title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about__info--name {
  font-size: var(--smaller-font-size);
}

.about__info--title,
.about__info--name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}
.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  margin-top: var(--mb-2-5);
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
}

.skills__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.skills__arrow {
  margin-left: auto;
  transform: 0.4s;
}

.skills__list {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding-left: 2.7rem;
}
.skills__list.tools {
  justify-content: flex-start;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills__img {
  max-width: 25px;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__open .skills__arrow {
  transform: rotate(-90deg);
}

@media screen and (max-width: 600px) {
  .about__banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about__banner--img {
    width: 200px;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }
  .skills__data {
    width: fit-content;
  }
}
